---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <!-- The following code is used to config the fonts -->
  <link href='http://fonts.googleapis.com/css?family=Source+Serif+Pro:400, 700|Inconsolata' rel='stylesheet' type='text/css'>
  
  <!-- The following code is the content of this page -->
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>
  
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
</article>